body {
    margin: 0;
    font-family: 'Dongle', sans-serif;
    color: pink;
    font-size: 4vh;
    
}

.topFlex {
    border: 2px black solid;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;

    
}


/* central computer looking box */
.boxMiddle {
    border-bottom-left-radius: 20vw;
    border-bottom-right-radius: 20vw;
    border-top-left-radius: 20vw;
    border-top-right-radius: 20vw;
    border: 2px blueviolet solid;
    
    background-image: radial-gradient(blueviolet, red);
    flex: 1;
    min-width: 55vw;
    max-width: 55vw;
    min-height: 95vh;
    max-height: 95vh;

    display: flex;

    flex-direction: column;
    
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
}

.upperLowerBox {
    border-radius: 10vw;
    box-shadow: 2px 2px 2px purple;
    background-image: radial-gradient(blueviolet, red);
    /* border: 2px rgb(0, 255, 64) solid; */
    /* background-color: cyan; */

    flex: 1;
    min-width: 70%;
    max-width: 70%;

    min-height: 30%;
    max-height: 30%;

    display: flex;

    flex-direction: column;
    
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;


}

.upperLowerBox2 {
    border-radius: 10vw;
    /* box-shadow: 2px 2px 2px purple; */
    /* border: 2px rgb(0, 255, 64) solid; */
    /* background-color: cyan; */

    /* margin: 10px; */
    
    flex: 1;
    line-height: 3vh;
    min-width: 10%;
    max-width: 10%;

    min-height: 65%;
    max-height: 80%;

    display: flex;

    flex-direction: column;
    
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;


}

.upperLowerBox2.hide {
    border-radius: 10vw;
    /* box-shadow: 2px 2px 2px purple; */
    /* border: 2px rgb(0, 255, 64) solid; */
    /* background-color: cyan; */

    flex: 1;
    min-width: 10%;
    max-width: 10%;

    min-height: 65%;
    max-height: 80%;

    display: flex;

    flex-direction: column;
    
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;


}

.upperLayoutRow {
    border-radius: 10vw;
    box-shadow: 2px 2px 2px purple;
    /* border: 2px rgb(0, 255, 64) solid; */
    /* background-color: green; */

    flex: 1;
    min-width: 75%;
    max-width: 75%;

    min-height: 70%;
    max-height: 70%;

    display: flex;

    flex-direction: row;
    
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;


}

/* screen */
.boxScreen {
    border-radius: 20vw;
    box-shadow: 2px 2px 2px purple;
    /* border: 2px rgb(0, 255, 64) solid; */
    /* background-color: white; */

    flex: 1;
    margin: 3vh;
    min-width: 80%;
    max-width: 80%;
    min-height: 90%;
    max-height: 90%;

    display: flex;

    flex-direction: column;
    
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;


}

/* new pet button */
/* left button feed? */
/* left button give water? */
.boxMenu {
    border-radius: 10vw;
    box-shadow: 2px 2px 2px purple;
    /* border: 2px rgb(0, 255, 64) solid; */
    /* background-color: cyan; */

    flex: 1;

    min-width: 80%;
    max-width: 80%;
    min-height: 50%;
    max-height: 50%;

    display: flex;

    flex-direction: row;
    
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
}

.boxButton {
    border-radius: 10vw;
    /* border: 2px blueviolet solid; */
    /* background-color: blueviolet; */
    background-image: radial-gradient(blueviolet, crimson);
    cursor: pointer;

    flex: 1;
    min-width: 30%;
    max-width: 30%;

    min-height: 30%;
    max-height: 30%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* not working */
    /* transition: background-image 0.5s linear; */

    box-shadow: 2px 2px 2px purple;
    transition-duration: 0.4s;

}

.boxButton:hover {
    background-image: radial-gradient(blueviolet, pink);
}

.boxStat {
    border-radius: 10vw;
    /* border: 2px rgb(4, 0, 255) solid; */
    box-shadow: 2px 2px 2px purple;
    background-image: radial-gradient(blueviolet, crimson);

    /* flex: 1; */
    min-width: 100%;
    /* max-width: 10%; */

    /* min-height: 10%; */

}

.boxNameScreen {
    border-radius: 10vw;
    box-shadow: 2px 2px 2px purple;
    /* border: 2px rgb(0, 255, 64) solid; */
    /* background-color: cyan; */

    flex: 1;

    min-width: 80%;
    max-width: 80%;
    min-height: 30%;
    max-height: 30%;

    display: flex;

    flex-direction: row;
    
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;

}

.innerAnimalPicture {
    background-image: url('bun.png');

    border-radius: 20vw;
    /* border: 2px black dashed; */
    /* background-color: white; */

    flex: 1;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    visibility: visible;
    
    
}

.innerAnimalPicture.hide {
    border-radius: 10vw;
    border: 2px black dashed;
    /* background-color: white; */

    flex: 1;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    visibility: hidden;

}



/* mb enable box after name entered, switch out buttonx */